@model Rolling_Tavern.Models.BoardGame

@{
    ViewData["Title"] = "Edit";
}

<div class="page-content">
    <center>
        <h1>Редагування настільної гри</h1>
    </center>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="GameId" />
        <div class="row justify-content-around">
            <div class="col-4" style="margin-left:250px">
                <div class="form-row profile-row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="GameName" class="control-label">Назва гри</label>
                            <input asp-for="GameName" class="form-control" />
                            <span asp-validation-for="GameName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Genre" class="control-label">Жанр</label>
                            <input asp-for="Genre" class="form-control" />
                            <span asp-validation-for="Genre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Опис</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MinAmountOfPlayers" class="control-label">Мінімальна кількість учасників</label>
                            <input asp-for="MinAmountOfPlayers" class="form-control" />
                            <span asp-validation-for="MinAmountOfPlayers" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4" id="mod" style="right:100px">
                <div class="form-row profile-row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="MaxAmountOfPlayers" class="control-label">Максимальна кількість учасників</label>
                            <input asp-for="MaxAmountOfPlayers" class="form-control" />
                            <span asp-validation-for="MaxAmountOfPlayers" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MinGameTime" class="control-label">Мінімальний час гри</label>
                            <input asp-for="MinGameTime" class="form-control" />
                            <span asp-validation-for="MinGameTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MaxGameTime" class="control-label">Максимальний час гри</label>
                            <input asp-for="MaxGameTime" class="form-control" />
                            <span asp-validation-for="MaxGameTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MinAgeOfPlayers" class="control-label">Мінімальний вік гравців</label>
                            <input asp-for="MinAgeOfPlayers" class="form-control" />
                            <span asp-validation-for="MinAgeOfPlayers" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <center>
            <div class="form-group">
                <input type="submit" style="text-align: center; font-family: Bluu Next Cyrillic; background: #B82406; border-radius: 5px; padding: 5px; padding-left: 10px; padding-right: 10px; width:150px" value="Зберегти зміни" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">До списку ігр</a>
            </div>
        </center>
    </form>
</div>


<style>
    input, label, h1, h4 {
        font-family: 'Bluu Next Cyrillic';
    }
    body {
        margin: 0;
        padding: 0;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
