@{
    ViewData["Title"] = "Home Page";
}


<h1 align="left" class="nav-link text-white">Знаходьте сопартійців</h1>
<div class="btn-group">
    <button type="button" class="btn btn-danger" >Опасность</button>
</div>
