@{
    ViewData["Title"] = "Home Page";
}
<div class="page-content">
    <p class="nav-link text-white" style=" font-family: Bluu Next Cyrillic; padding-top: 20%; padding-left: 30px; font-size: 36px; text-align: left ">
        Знаходьте сопартійців для<br />
        захоплюючих настільних ігор.
    </p>
    <div class="btn-group" style="padding-left: 30px; text-align: left; padding-bottom: 60px">
        <div>
            @*<form asp-area="" asp-controller="Meeting" asp-action="Index">
            <button type="submit" class="btn btn-danger" style="font-family: Bluu Next Cyrillic; font-size: 28px; background: #B82306 ">Почати пошук!</button>
        </form>*@
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item dropdown" style="text-align:center; font-family: Bluu Next Cyrillic; font-size: 28px; background: #B82406; border-radius: 5px; padding:5px;">
                    <a class="nav-link text-white" style="font-family: Bluu Next Cyrillic; font-size: 28px; padding-left: 10px; padding-right: 10px;" asp-area="" asp-controller="Meeting" asp-action="Index">Почати пошук!</a>
                </li>
            </ul>
        </div>
        <div>
            @*<form asp-area="" asp-controller="Meeting" asp-action="Create">
                <button type="submit" class="btn btn-danger" style="margin-left:20px;font-family: Bluu Next Cyrillic; font-size: 28px; background: #B82306 ">Створити зустріч!</button>
            </form>*@
            @if (User.IsInRole("user"))
            {
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown" style="text-align: center; font-family: Bluu Next Cyrillic; font-size: 28px; background: #B82406; border-radius: 5px; margin-left: 50px; padding: 5px;">
                        <a class="nav-link text-white" style="font-family: Bluu Next Cyrillic; font-size: 28px; padding-left: 10px; padding-right: 10px;" asp-area="" asp-controller="Meeting" asp-action="Create">Створити зустріч!</a>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>
   
<style>
    body {
        background: url(images/Bground.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: fit-content;
        padding: 0;
        margin: 0;
    }
</style>

