@{
    ViewData["Title"] = "Profile";
}


<section style>

    <div style="margin-left: 20%">

        <div class="u-border-1 u-border-grey-75 u-container-style u-group u-radius-15 u-shape-round u-white u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <link rel="stylesheet" href="~/css/nicepage.css">
                <img class="u-image u-image-circle u-image-1" src="~/images/settings_icon.png" alt="" data-image-width="1280" data-image-height="852">
                <img class="u-image u-image-circle u-image-2" src="~/images/settings_icon.png" alt="" data-image-width="1280" data-image-height="853">
                <h4 class="u-text u-text-default u-text-1">Пример заголовка</h4>
                <h4 class="u-text u-text-default u-text-2">Пример заголовка</h4>
                <div class="u-border-1 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
                <h4 class="u-text u-text-default u-text-3">Пример заголовка</h4>
                <img class="u-image u-image-default u-image-3" src="~/images/settings_icon.png" alt="" data-image-width="1280" data-image-height="852">
                <div class="u-border-1 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-2"></div>
                <h4 class="u-text u-text-default u-text-4">Пример заголовка</h4>
                <img class="u-image u-image-default u-image-4" src="~/images/settings_icon.png" alt="" data-image-width="1280" data-image-height="852">
                <div class="u-border-1 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-3"></div>
            </div>
        </div>
    </div>
</section>