@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<body>
    <center style="padding-top:12%">
        <h1 class="text-danger">Заблоковано!</h1>
        <p  style="color:black">Цей аккаунт було заблоковано!</p>
    </center>
   
</body>
