.u-section-1 .u-sheet-1 {
  min-height: 593px;
}

.u-section-1 .u-group-1 {
  width: 357px;
  min-height: 554px;
  height: auto;
  margin: 19px auto 0 14px;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 0;
}

.u-section-1 .u-image-1 {
  width: 120px;
  height: 120px;
  margin: -1px auto 0;
}

.u-section-1 .u-image-2 {
  width: 54px;
  height: 54px;
  margin: -46px 103px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 26px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 7px auto 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 7px;
  transform-origin: right center 0px;
}

.u-section-1 .u-text-3 {
  margin: 21px 25px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 50px;
  height: 50px;
  margin: -39px auto 0 31px;
}

.u-section-1 .u-line-2 {
  transform-origin: right center 0px;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 23px 25px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 50px;
  height: 50px;
  margin: -39px auto 0 31px;
}

.u-section-1 .u-line-3 {
  transform-origin: right center 0px;
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 743px;
  min-height: 554px;
  height: auto;
  margin: -554px 14px 20px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 11px 0;
}

.u-section-1 .u-text-5 {
  margin: -1px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 53px 461px 0 120px;
}

.u-section-1 .u-image-5 {
  width: 35px;
  height: 35px;
  margin: -23px auto 0 25px;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: -29px 309px 0 272px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: -17px 151px 0 429px;
}

.u-section-1 .u-image-6 {
  width: 35px;
  height: 35px;
  margin: -24px auto 0 74px;
}

.u-section-1 .u-image-7 {
  width: 35px;
  height: 35px;
  margin: -34px 145px 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: -29px 93px 0 605px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  margin: -23px 19px 0 auto;
  padding: 4px;
}

.u-section-1 .u-line-4 {
  transform-origin: left center 0px;
  width: 676px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  margin: 20px 461px 0 120px;
}

.u-section-1 .u-image-8 {
  width: 35px;
  height: 35px;
  margin: -23px auto 0 25px;
}

.u-section-1 .u-text-11 {
  font-size: 0.875rem;
  margin: -29px 309px 0 272px;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  margin: -17px 151px 0 429px;
}

.u-section-1 .u-image-9 {
  width: 35px;
  height: 35px;
  margin: -23px auto 0 74px;
}

.u-section-1 .u-image-10 {
  width: 35px;
  height: 35px;
  margin: -34px 145px 0 auto;
}

.u-section-1 .u-text-13 {
  font-size: 0.875rem;
  margin: -29px 93px 0 605px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  margin: -23px 19px 0 auto;
  padding: 4px;
}

.u-section-1 .u-line-5 {
  transform-origin: left center 0px;
  width: 676px;
  height: 2px;
  margin: 12px auto 0 32px;
}

.u-section-1 .u-text-14 {
  font-size: 0.875rem;
  margin: 20px 461px 0 120px;
}

.u-section-1 .u-image-11 {
  width: 35px;
  height: 35px;
  margin: -23px auto 0 25px;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  margin: -29px 309px 0 272px;
}

.u-section-1 .u-text-16 {
  font-size: 0.875rem;
  margin: -17px 151px 0 429px;
}

.u-section-1 .u-image-12 {
  width: 35px;
  height: 35px;
  margin: -23px auto 0 74px;
}

.u-section-1 .u-image-13 {
  width: 35px;
  height: 35px;
  margin: -34px 145px 0 auto;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  margin: -29px 93px 0 605px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  margin: -23px 19px 0 auto;
  padding: 4px;
}

.u-section-1 .u-line-6 {
  transform-origin: left center 0px;
  width: 676px;
  height: 2px;
  margin: 12px auto 0 32px;
}

.u-section-1 .u-text-18 {
  font-size: 0.875rem;
  margin: 20px 461px 0 120px;
}

.u-section-1 .u-image-14 {
  width: 35px;
  height: 35px;
  margin: -23px auto 0 25px;
}

.u-section-1 .u-text-19 {
  font-size: 0.875rem;
  margin: -29px 309px 0 272px;
}

.u-section-1 .u-text-20 {
  font-size: 0.875rem;
  margin: -17px 151px 0 429px;
}

.u-section-1 .u-image-15 {
  width: 35px;
  height: 35px;
  margin: -23px auto 0 74px;
}

.u-section-1 .u-image-16 {
  width: 35px;
  height: 35px;
  margin: -34px 145px 0 auto;
}

.u-section-1 .u-text-21 {
  font-size: 0.875rem;
  margin: -29px 93px 0 605px;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  margin: -23px 19px 0 auto;
  padding: 4px;
}

.u-section-1 .u-line-7 {
  transform-origin: left center 0px;
  width: 676px;
  height: 2px;
  margin: 12px auto 0 32px;
}

.u-section-1 .u-text-22 {
  font-size: 0.875rem;
  margin: 20px 461px 0 120px;
}

.u-section-1 .u-image-17 {
  width: 35px;
  height: 35px;
  margin: -23px auto 0 25px;
}

.u-section-1 .u-text-23 {
  font-size: 0.875rem;
  margin: -29px 309px 0 272px;
}

.u-section-1 .u-text-24 {
  font-size: 0.875rem;
  margin: -17px 151px 0 429px;
}

.u-section-1 .u-image-18 {
  width: 35px;
  height: 35px;
  margin: -23px auto 0 74px;
}

.u-section-1 .u-image-19 {
  width: 35px;
  height: 35px;
  margin: -34px 145px 0 auto;
}

.u-section-1 .u-text-25 {
  font-size: 0.875rem;
  margin: -29px 93px 0 605px;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  margin: -23px 19px 0 auto;
  padding: 4px;
}

.u-section-1 .u-line-8 {
  transform-origin: left center 0px;
  width: 676px;
  height: 2px;
  margin: 12px auto 0 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-7 {
    width: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 450px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 298px;
    margin-left: 261px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 140px;
    margin-left: 418px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 82px;
    margin-left: 594px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 450px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 298px;
    margin-left: 261px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 140px;
    margin-left: 418px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 82px;
    margin-left: 594px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 450px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 298px;
    margin-left: 261px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 140px;
    margin-left: 418px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 82px;
    margin-left: 594px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 450px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 298px;
    margin-left: 261px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 140px;
    margin-left: 418px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 82px;
    margin-left: 594px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 450px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 298px;
    margin-left: 261px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 140px;
    margin-left: 418px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 82px;
    margin-left: 594px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 360px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 208px;
    margin-left: 171px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 50px;
    margin-left: 328px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 496px;
  }

  .u-section-1 .u-line-4 {
    width: 540px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 360px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 208px;
    margin-left: 171px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 50px;
    margin-left: 328px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 496px;
  }

  .u-section-1 .u-line-5 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 360px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 208px;
    margin-left: 171px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 50px;
    margin-left: 328px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 496px;
  }

  .u-section-1 .u-line-6 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 360px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 208px;
    margin-left: 171px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 50px;
    margin-left: 328px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 496px;
  }

  .u-section-1 .u-line-7 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 360px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 208px;
    margin-left: 171px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 50px;
    margin-left: 328px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
    margin-left: 496px;
  }

  .u-section-1 .u-line-8 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 179px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 108px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 178px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 296px;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 179px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 108px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 178px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 296px;
  }

  .u-section-1 .u-line-5 {
    width: 340px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 179px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 108px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 178px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 296px;
  }

  .u-section-1 .u-line-6 {
    width: 340px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 179px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 108px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 178px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 296px;
  }

  .u-section-1 .u-line-7 {
    width: 340px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 179px;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 108px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 178px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 296px;
  }

  .u-section-1 .u-line-8 {
    width: 340px;
  }
}