<footer style="position: fixed; bottom: 0px; width: 100%; height: 60px; background-color: black;">
    <div class="container">
        <center>
            <p class="dline">
                Rolling Tavern is the place where you can find teammates for board games.<br />
                Copyright &copy; 2021 Rolling Tavern | All Rights Reserved
            </p>
        </center>
    </div>
</footer>


