<footer class="border-top footer text-muted">
    <div class="container">
        <center>
            <p class="dline">
                Rolling Tavern is the place where you can find teammates for board games.<br />
                Copyright &copy; 2021 Rolling Tavern | All Rights Reserved
            </p>
        </center>
    </div>
</footer>