<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
        <a class="navbar-brand" href="/" style="">
            <img src="~/images/LogoTavern.ico" width="120" height="65" i asp-append-version="true" />
        </a>

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav">
                <partial name="_LoginPartial" />
            </ul>
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item dropdown">
                    <a class="nav-link text-white" asp-area="" asp-controller="BoardGames" asp-action="Index" style="margin-left:50px">Настільні ігри</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-white" asp-area="" asp-controller="Meeting" asp-action="Index" style="margin-left:50px">Зустрічі</a>
                </li>
                @if (User.IsInRole("user"))
                {
                    <li class="nav-item dropdown" style="background:#B82406;border-radius:5px;margin-left:50px;">
                        <a class="nav-link text-white" asp-area="" asp-controller="Meeting" asp-action="Create">Створити зустріч</a>
                    </li>
                }
                @if (User.IsInRole("admin"))
                   
                {
                    <li class="nav-item dropdown" style="margin-left:50px">
                        <a class="nav-link text-white" asp-area="" asp-controller="AdminUserManage" asp-action="Index">Всі користувачі</a>
                    </li>
                }


            </ul>
        </div>
    </nav>
</header>