<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/" style="margin:0,0,0,0;" >
                <img src="~/images/LogoTavern.ico" width="120" height="70" i asp-append-version="true" />
            </a>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav">
                    <partial name="_LoginPartial" />
                </ul>
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item dropdown">
                        <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Настільні ігри</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Зустрічі</a>
                    </li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">Опасность</button>

                    </div>


                </ul>

            </div>
        </div>
    </nav>
</header>